<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>BankApp</display-name>
	<filter>
		<description>
		</description>
		<display-name>changePwdFilter</display-name>
		<filter-name>changePwdFilter</filter-name>
		<filter-class>com.abc.project.changePwdFilter</filter-class>
	</filter>
	<filter>
		<description>
		</description>
		<display-name>TransferFilter</display-name>
		<filter-name>TransferFilter</filter-name>
		<filter-class>com.abc.project.TransferFilter</filter-class>
	</filter>
	<filter>
		<description>
		</description>
		<display-name>changeNPwdFilter</display-name>
		<filter-name>changeNPwdFilter</filter-name>
		<filter-class>com.abc.project.changeNPwdFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>changePwdFilter</filter-name>
		<url-pattern>/changePwdFilter</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>changePwdFilter</filter-name>
		<servlet-name>ChangePwd</servlet-name>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
		<dispatcher>ERROR</dispatcher>
	</filter-mapping>
	<filter-mapping>
		<filter-name>TransferFilter</filter-name>
		<url-pattern>/TransferFilter</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>TransferFilter</filter-name>
		<servlet-name>Transfer</servlet-name>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
	</filter-mapping>
	<filter-mapping>
		<filter-name>changeNPwdFilter</filter-name>
		<url-pattern>/changeNPwdFilter</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>changeNPwdFilter</filter-name>
		<servlet-name>ChangeNPwd</servlet-name>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
		<dispatcher>ERROR</dispatcher>
	</filter-mapping>
	<servlet>
		<description>
		</description>
		<display-name>Login</display-name>
		<servlet-name>Login</servlet-name>
		<servlet-class>com.abc.project.Login</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>CheckBalance</display-name>
		<servlet-name>CheckBalance</servlet-name>
		<servlet-class>com.abc.project.CheckBalance</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ChangePwd</display-name>
		<servlet-name>ChangePwd</servlet-name>
		<servlet-class>com.abc.project.ChangePwd</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Transfer</display-name>
		<servlet-name>Transfer</servlet-name>
		<servlet-class>com.abc.project.Transfer</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>GetStatement</display-name>
		<servlet-name>GetStatement</servlet-name>
		<servlet-class>com.abc.project.GetStatement</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Logout</display-name>
		<servlet-name>Logout</servlet-name>
		<servlet-class>com.abc.project.Logout</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Credentials</display-name>
		<servlet-name>Credentials</servlet-name>
		<servlet-class>com.abc.project.Credentials</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ChangeNPwd</display-name>
		<servlet-name>ChangeNPwd</servlet-name>
		<servlet-class>com.abc.project.ChangeNPwd</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CheckBalance</servlet-name>
		<url-pattern>/CheckBalance</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ChangePwd</servlet-name>
		<url-pattern>/ChangePwd</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Transfer</servlet-name>
		<url-pattern>/Transfer</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetStatement</servlet-name>
		<url-pattern>/GetStatement</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/Logout</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Credentials</servlet-name>
		<url-pattern>/Credentials</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ChangeNPwd</servlet-name>
		<url-pattern>/ChangeNPwd</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
